main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 85.2%;
  margin: auto;
}
main .main-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #fff;
}
main .main-Container .main-title-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
main .main-Container .main-title-Container .main-title-Block {
  width: 46px;
  height: 4px;
  background-color: #C0E0F2;
}
main .main-Container .main-title-Container .main-Title {
  font-weight: 700;
  font-size: 1.8em;
  color: #005EA2;
  margin: 0 40px;
}
main .main-Container .main-Subtitle {
  font-size: 1em;
  color: #4E83A9;
  margin-top: 4px;
}
main .main-Container .main-content-Container-1 {
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 658px;
  margin-top: 53px;
  margin-bottom: 124px;
  padding: 9.1% 4.55%;
  background-color: #C0E0F2;
}
main .main-Container .main-content-Container-1 .main-content-Img-1 {
  width: 56%;
  z-index: 2;
  margin-right: 4.55%;
}
main .main-Container .main-content-Container-1 .main-content-Text-1 {
  position: relative;
  font-size: 0.8em;
  line-height: 160%;
  font-weight: 400;
  text-indent: 2em;
  color: #4E83A9;
  text-align: justify;
}
main .main-Container .main-content-Container-1 .main-content-Icon-1 {
  position: absolute;
  right: 0;
  bottom: -20px;
}
main .main-Container .main-content-Container-2 {
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  margin-top: 53px;
  margin-bottom: 124px;
}
main .main-Container .main-content-Container-2-left {
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
  width: 19.1%;
  height: 534px;
  margin-right: 0.9%;
  box-shadow: 5px 5px 18px rgba(99, 99, 99, 0.15);
}
main .main-Container .main-content-Date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 91px;
  height: 71px;
  background-color: rgba(0, 106, 183, 0.7);
  position: absolute;
  top: 0;
  left: 0;
}
main .main-Container .main-content-Date p:nth-of-type(1) {
  position: relative;
  font-size: 1.1em;
  font-weight: 400;
  color: #fff;
}
main .main-Container .main-content-Date p:nth-of-type(2) {
  position: relative;
  font-size: 0.8em;
  font-weight: 400;
  color: #fff;
}
main .main-Container .main-content-2-Img-1 {
  width: 100%;
  margin-bottom: 30px;
}
main .main-Container .main-content-Container-2 > a > p:nth-of-type(1) {
  margin-bottom: 15px;
  width: 80%;
  position: relative;
  font-size: 0.8em;
  line-height: 156%;
  font-weight: 400;
  color: #4E83A9;
  text-align: justify;
}
main .main-Container .main-content-Container-2 > a > p:nth-of-type(2) {
  margin-bottom: 40px;
  width: 81%;
  position: relative;
  font-size: 0.7em;
  line-height: 156%;
  font-weight: 400;
  color: #969696;
  text-align: justify;
}
main .main-Container .main-content-Container-2-right {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 39.1%;
  height: 534px;
}
main .main-Container .main-content-Container-2-right > a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 12px;
  background-color: #F2F2F2;
}
main .main-Container .main-content-Container-2-right > a:nth-of-type(6) {
  position: absolute;
  margin-bottom: 0;
  bottom: 0;
  right: 0;
  background: none;
}
main .main-Container .main-content-Container-2-right > a > div {
  width: 90px;
  height: 90px;
  position: relative;
  background-color: rgba(0, 106, 183, 0.9);
}
main .main-Container .main-content-Container-2-right > a > p {
  width: 82%;
  margin: 0 16px;
  line-height: 156%;
  font-size: 0.8em;
  color: #4E83A9;
  text-decoration: underline;
}
main .main-Container .main-content-Container-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 806px;
  margin-top: 53px;
  margin-bottom: 124px;
}
main .main-Container .main-content-Container-3 > div {
  width: 29.1%;
}
main .main-Container .main-content-Container-3 img {
  background-color: #C0E0F2;
  padding: 25px;
}
main .main-Container .main-content-Container-3 > div:nth-of-type(1) {
  align-self: flex-end;
}
main .main-Container .main-content-Container-3 > div:nth-of-type(2) {
  align-self: flex-start;
  margin: 0 5.45%;
}
main .main-Container .main-content-Container-3 > div:nth-of-type(3) {
  align-self: flex-end;
}
main .main-Container .main-content-3-yuan {
  position: relative;
  top: 19px;
  margin: 0 auto;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: #408DC4;
  z-index: 2;
}
main .youqing {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 149px;
}
main .youqing a {
  width: 19.1%;
  margin-right: 0.9%;
}
main .youqing a > img {
  width: 100%;
  padding: 5px;
}/*# sourceMappingURL=main.css.map */