// 这个是main的css样式表
$blue: #006AB7;
$deep-blue:#005EA2;
$light-blue:#C0E0F2;
$news-text:#4E83A9;
$news-text-little:#969696;
$white :#fff;
$shadow-color:#636363;
$light-grey:#F2F2F2;
$little-yuansu:#408DC4;
// 
$jianju-1:0.9%;
$lan-1:9.1%;
// 
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 85.2%;
    margin: auto;
    .main-Container {
        // position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background: $white;
        .main-title-Container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            .main-title-Block {
                width: 46px;
                height: 4px;
                background-color: $light-blue;
            }
            .main-Title {
                font-weight: 700;
                font-size: 1.8em;
                color: $deep-blue;
                margin: 0 40px;
            }
        }
        .main-Subtitle {
            font-size: 1em;
            color: $news-text;
            margin-top: 4px;
        }
        // 1
        .main-content-Container-1 {
            position: relative;
            display: flex;
            justify-content: left;
            align-items: center;
            width: 100%;
            height: 658px;
            margin-top: 53px;
            margin-bottom: 124px;
            padding: $lan-1 $lan-1/2;
            background-color: $light-blue;
            .main-content-Img-1 {
                width: 56%;
                z-index: 2;
                margin-right: $lan-1/2;
            }
            .main-content-Text-1 {
                position: relative;
                font-size: 0.8em;
                line-height: 160%;
                font-weight: 400;
                text-indent: 2em;
                color: $news-text;
                text-align: justify;
            }
            .main-content-Icon-1 {
                position: absolute;
                right: 0;
                bottom: -20px;
            }
        }
        // 2
        .main-content-Container-2 {
            position: relative;
            display: flex;
            justify-content: left;
            align-items: center;
            width: 100%;
            // height: 658px;
            margin-top: 53px;
            margin-bottom: 124px;
        }
        .main-content-Container-2-left {
            position: relative;
            display: flex;
            justify-content: left;
            align-items: center;
            flex-direction: column;
            width: $lan-1*2+$jianju-1;
            height: 534px;
            margin-right: $jianju-1;
            box-shadow: 5px 5px 18px rgba($shadow-color, .15);
        }
        .main-content-Date {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 91px;
            height: 71px;
            background-color: rgba($blue, .7);
            position: absolute;
            top: 0;
            left: 0;
        }
        .main-content-Date p:nth-of-type(1) {
            position: relative;
            font-size: 1.1em;
            font-weight: 400;
            color: $white;
        }
        .main-content-Date p:nth-of-type(2) {
            position: relative;
            font-size: 0.8em;
            font-weight: 400;
            color: $white;
        }
        .main-content-2-Img-1 {
            width: 100%;
            margin-bottom: 30px;
        }
        .main-content-Container-2>a>p:nth-of-type(1) {
            margin-bottom: 15px;
            width: 80%;
            position: relative;
            font-size: 0.8em;
            line-height: 156%;
            font-weight: 400;
            color: $news-text;
            text-align: justify;
        }
        .main-content-Container-2>a>p:nth-of-type(2) {
            margin-bottom: 40px;
            width: 81%;
            position: relative;
            font-size: 0.7em;
            line-height: 156%;
            font-weight: 400;
            color: $news-text-little;
            text-align: justify;
        }
        .main-content-Container-2-right {
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            width: $lan-1*4+$jianju-1*3;
            height: 534px;
        }
        .main-content-Container-2-right>a {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 12px;
            background-color: $light-grey;
        }
        .main-content-Container-2-right>a:nth-of-type(6) {
            position: absolute;
            margin-bottom: 0;
            bottom: 0;
            right: 0;
            background: none;
        }
        .main-content-Container-2-right>a>div {
            width: 90px;
            height: 90px;
            position: relative;
            background-color: rgba($blue, .9);
        }
        .main-content-Container-2-right>a>p {
            width: 82%;
            margin: 0 16px;
            line-height: 156%;
            font-size: 0.8em;
            color: $news-text;
            text-decoration: underline;
        }
        // 3
        .main-content-Container-3 {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            width: 100%;
            height: 806px;
            margin-top: 53px;
            margin-bottom: 124px;
            // background-color: $light-blue;
        }
        .main-content-Container-3>div {
            width: $lan-1*3+$jianju-1*2;
        }
        .main-content-Container-3 img {
            background-color: $light-blue;
            padding: 25px;
        }
        .main-content-Container-3>div:nth-of-type(1) {
            align-self: flex-end;
        }
        .main-content-Container-3>div:nth-of-type(2) {
            align-self: flex-start;
            margin: 0 $lan-1/2+$jianju-1;
        }
        .main-content-Container-3>div:nth-of-type(3) {
            align-self: flex-end;
        }
        .main-content-3-yuan {
            position: relative;
            top: 19px;
            margin: 0 auto;
            width: 38px;
            height: 38px;
            border-radius: 50%;
            background-color: $little-yuansu;
            z-index: 2;
        }
    }
    .youqing {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 149px;
    }
    .youqing a {
        width: $lan-1*2+$jianju-1;
        margin-right: $jianju-1;
    }
    .youqing a>img {
        width: 100%;
        padding: 5px;
    }
}